<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>static.route</string>
	<key>LaunchOnlyOnce</key>
	<true/>
	<key>Program</key>
	<string>/scripts/addroutes</string>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/static.route.stderr</string>
	<key>StandardOutPath</key>
	<string>/tmp/static.route.stdout</string>
</dict>
</plist>
